.head {
  text-align: center;
  margin-right: 0;
}

.App-head {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 554px, 510px;
    background-position: left top,right center;
  }

  .img{
    /* max-height: 40px;
    max-width: 40px; */
    margin-right: 50px;
    margin-top: 20px;  
    /* position: absolute; */
    width: 101px;
    height: 170px;
    left: 390px;
    top: 73px;
  }
  .text-nowrap , .fs-2 {
    position: absolute;
  
    left: 420px;
    top: 89px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    
    text-align: center;
    
    color: #C5A665;
   
  }
  
  /* .text-wrap, .fs-2{
    position: absolute;
   
    left: 420px;
    top: 85px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    
    text-align: center;
  } */
  .tuk{
    
    position: absolute;
    width: 101px;
    height: 157px;
    left: 10px;
    top: 0px;
  }

  .header{
    margin-top: 10px;
    position: absolute;
    width: 1108px;
    height: 5px;
    left: 0px;
    top: 20px;
  }
  .form{
    position: absolute;
    width: 615px;
    height: 212px;
    left: 400px;
    top: 169px;
  }
  .login{
    position: absolute;
    width: 178px;
    height: 74px;
    left: 625px;
    top: 430px;
  }
  .form-input{
    position: absolute;
    width: 938px;
    height: 484px;
    left: 150px;
    top: 236px;

  }

  .header-text-image,.mb-5{
    position: absolute;
    width: 1900px;
    left: 0px;
    top: -96px;
    margin-top: 10px;
  }
  .navbar{
    position: absolute;
    width: 980px;
    height: 81px;
    left: 65px;
    top: 60px;
  }
  .me-auto{
    position: absolute;
    width: 744px;
    height: 28px;
    left: 290px;
    top: 15px;
    color: #ffffff;
  }
  .Submit{
    position: absolute;
    width: 301px;
    height: 70px;
    left: 572px;
    top: 520px;
  }
  .small{
    font-size: 12px;
    width: 49%;
  }
  .nav{
    border-radius: 20px;
    width: 1111;
    background-color: blue;
  }